<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>StravX a besoin d'accéder à votre localisation pour enregistrer vos activités sportives, suivre votre parcours et calculer la distance parcourue.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>StravX a besoin d'accéder à votre localisation pour continuer à enregistrer vos activités sportives même lorsque l'application est en arrière-plan.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>StravX a besoin d'accéder à votre localisation pour enregistrer vos activités sportives en continu.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>NSMotionUsageDescription</key>
	<string>StravX utilise les données de mouvement pour améliorer la précision du suivi d'activité.</string>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>location-services</string>
		<string>gps</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>